<?xml version="1.0"?>
<launch>

  <arg name="frequency" value="10" />

  <!-- pid_node -->
  <node pkg="control" type="pid_node.py" name="pid" respawn="true" output="screen">

    <!-- Missatge Odometria de Kobuki a pid_node-->
    <remap from="~odom_msg" to="/odom"/>
    <!-- Missatge Punt Objectiu de Publisher a pid_node-->
    <remap from="~po" to="/position"/>

    <!-- Missatge velocitat de pid_node a Kobuki-->
    <remap from="~velocity" to="/mobile_base/commands/velocity"/>
    
    <!-- Constant Kp, Kd i Ki per cada PID-->
       <!-- Constants K per PID lineal-->
    <param name="~frequency" type="int" value="$(arg frequency)" />
    <param name="~Kp_lineal" type="double" value="0.5" />
    <param name="~Kd_lineal" type="double" value="0.7" />
    <param name="~Ki_lineal" type="double" value="0.7" />
    <param name="~max_integ_term_lineal" type="double" value="1.0" />
    
       <!-- Constants K per PID angular-->
    <param name="~Kp_angular" type="double" value="1.0" />
    <param name="~Kd_angular" type="double" value="0.9" />
    <param name="~Ki_angular" type="double" value="0.7" />
    <param name="~max_integ_term_angular" type="double" value="1.0" />
  </node>

  <!-- rqt_plot -->
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/position/x /position/y"/>

  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find kobuki_gazebo)/worlds/empty.world"/>
  </include>
  
  <!-- spawn the robot -->
  <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/>

</launch>
